presto-checkout {
  display: block;
  font-family: var(--presto-font-sans);

  h3 {
    font-size: var(--presto-input-label-font-size-medium);
  }
}

::slotted(*) {
  font-family: var(--presto-font-sans);
}
