:host {
  display: block;
}

.subscription-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--ce-spacing-large);

  &__name {
    font-weight: var(--ce-font-weight-bold);
    font-size: var(--ce-font-size-large);
    line-height: var(--ce-line-height-normal)
  }
}
