.wp-block-surecart-cart-line-item-image {
	box-sizing: border-box;
	height: auto;
	max-width: 100%;
	vertical-align: bottom;

	&.sc-is-covered {
		object-fit: cover;
	}

	&.sc-is-contained {
		object-fit: contain;
	}
}
