:host {
  display: block;
}

.price {
  display: flex;
  flex-direction: column;
  gap: var(--sc-spacing-xxx-small);

  &__amount {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: var(--sc-spacing-xx-small);
  }

  &__interval {
    font-size: min(1em, 14px);
    opacity: 0.75;
  }

  &__details {
    font-size: min(1em, 14px);
    opacity: 0.75;
  }
}
.scratch-price {
  text-decoration: line-through;
  opacity: 0.65;
}

.sale-badge {
  font-size: min(1em, 14px);
  align-self: center;
}

.recurring-interval {
  font-weight: 600;
}
