:host {
  display: block;
}

.price {
  display: inline-flex;
  align-items: center;
  gap: var(--sc-spacing-x-small);

  &__details {
    font-size: min(1em, 14px);
    opacity: 0.75;
  }
}
.scratch-price {
  text-decoration: line-through;
  opacity: 0.65;
}

.sale-badge {
  font-size: min(1em, 14px);
}

.recurring-interval {
  font-weight: 600;
}
