:host {
  display: block;
}

.price {
  display: flex;
  flex-direction: column;
  gap: var(--sc-spacing-xxx-small);

  &__amounts {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: var(--sc-spacing-xx-small);
  }

  &__scratch {
    text-decoration: line-through;
    opacity: 0.75;
  }

  &__interval {
    font-size: min(var(--sc-font-size-small), 16px);
    opacity: 0.75;
  }

  &__details {
    font-size: min(var(--sc-font-size-small), 16px);
    opacity: 0.75;
  }

  &__sale-badge {
    font-size: min(1em, 14px);
    align-self: center;
  }
}

.price--left {
  text-align: left;
  justify-content: left;

  .price__amounts {
    justify-content: left;
    text-align: left;
  }
}

.price--center {
  text-align: center;
  justify-content: center;

  .price__amounts {
    justify-content: center;
    text-align: center;
  }
}

.price--right {
  text-align: right;
  justify-content: right;

  .price__amounts {
    justify-content: right;
    text-align: right;
  }
}
