:host {
  display: block;
}

.sc-donation-choices-new {
  display: grid;
  gap: 2em;
  position: relative;
  z-index: 1;
  &__form {
    display: grid;
    gap: var(--sc-spacing-small);
  }
}
.sc-donation-recurring-choices {
  display: flex;
  width: 100%;
  gap: 2em;
  align-items: stretch;
}
.sc-donation-recurring-choice {
  flex: 1;
  min-width: calc(50% - 2em);
  box-sizing: border-box;
  height: 100%;
}
sc-donation-choices-new sc-choice::part(base) {
  display: flex;
  align-items: center;
}
