.wp-block-surecart-slide-out-cart {
	flex: 1 1 auto;
	overflow: auto;
	width: 100%;
	margin: auto;
	border: var(--sc-drawer-border);
	box-shadow: 0 1px 2px #0d131e1a;
	font-size: 16px;
	color: var(--sc-cart-main-label-text-color);

	.sc-alert {
		border-radius: 0;
		&__icon svg {
			width: 24px;
			height: 24px;
		}

		*:not(:first-child) {
			margin-bottom: 0;
		}
	}
}

// Stop the body from scrolling when the cart drawer is open.
html:has(dialog.sc-drawer[open]) {
	overflow: hidden;
	scrollbar-gutter: stable;
}
