sc-donation-choices-new sc-choice::part(base) {
	display: flex;
	align-items: center;
	justify-content: center;
}
.wp-block-surecart-new-donation-amount
.wp-block-surecart-new-donation-amount > sc-choice {
	width: 100%;
	display: flex;
}