.checkout-engine-settings {
  &__page {
    margin: 25px 25px 25px auto;
  }
  &__loading {
    min-height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__setting,
  &__body .components-card {
    max-width: 800px;
  }

  &__navigation {
    margin-left: -20px;
    margin-right: -20px;
    padding-right: 20px;
    position: sticky;
    top: 32px;
    z-index: 99;

    @media screen and (max-width: 782px) {
      top: 46px;
    }
  }

  .components-snackbar.is-snackbar-error {
    background: #cc1818;
  }
}
