ce-form form > *:not(:last-child) {
  margin-bottom: var(--ce-form-row-spacing, 0.75em);
  display: block;

  &.wp-block-spacer {
    margin-bottom: 0;
  }
}

ce-form .wp-block-columns .wp-block-column {
  margin: 50px;
}
