::slotted(*) {
  margin-bottom: var(--ce-form-row-spacing, 0.75em);
}
::slotted(ce-form-section) {
  margin-bottom:  var(--ce-form-section-spacing);
  margin-top: var(--ce-form-section-spacing);
}

::slotted(.wp-block-columns .wp-block-column) {
  margin: 50px;
}
::slotted(ce-form-section:first-child) {
  margin-top: 0;
}
