:host {
  display: grid;
  grid-template-columns: repeat(var(--presto-checkout-columns), 1fr);
  grid-template-rows: auto auto auto;
  column-gap: var(--presto-checkout-column-gap);
  grid-template-areas:
    'main-header sidebar-header'
    'main sidebar'
    'main-footer sidebar-footer';
}

::slotted(presto-form-row:not(:last-of-type)) {
  margin-bottom: var(--presto-form-row-spacing, 0.75em);
}

::slotted(.presto-area-sidebar-header) {
  grid-area: sidebar-header;
}
::slotted(.presto-area-main-header) {
  grid-area: main-header;
}

::slotted(.presto-area-main) {
  grid-area: main;
}
::slotted(.presto-area-sidebar) {
  grid-area: sidebar;
}
::slotted(.presto-area-sidebar-footer) {
  grid-area: sidebar-footer;
}
::slotted(.presto-area-main-footer) {
  grid-area: main-footer;
}
