{
	"extends": ["@wordpress/prettier-config"],
	"importOrder": ["^@wordpress/(.*)$", "^@surecart/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"proseWrap": "always"
}
