<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="./.dev/tests/php/bootstrap.php"
	colors="true"
	stopOnError="false"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	backupGlobals="false"
	>
	<testsuites>
		<testsuite name="Unit">
			<directory suffix=".php">./.dev/tests/php/unit/</directory>
		</testsuite>
		<testsuite name="Feature">
			<directory suffix=".php">./.dev/tests/php/feature/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./app/src</directory>
		</whitelist>
	</filter>
</phpunit>
