<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="./.dev/tests/php/bootstrap.php"
	colors="true"
	stopOnError="false"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	backupGlobals="false"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./app/src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix=".php">./.dev/tests/php/unit/</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix=".php">./.dev/tests/php/feature/</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="SURECART_RUNNING_TESTS" value="true"/>
  </php>
</phpunit>
