.wp-block-surecart-product-page {
	width: 100%;
	box-sizing: border-box;

	&.alignwide {
		width: 100%;
		margin: auto;
		padding: 0;
	}
}

/** Fix for if themes dequeue default wordpress global styles */
.is-layout-flex {
	display: flex;
}
.is-layout-grid {
	display: grid;
}

/**
 * Sticky Purchase Button Style.
 */
.sc-sticky-purchase-button-container {
	position: relative;

	.sc-sticky-purchase-button {
		opacity: 0;
		visibility: hidden;
		transform: translateY(100%);
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 100; // greater than the cart toggle button.
		transition: all 0.3s ease;
		box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);

		&.is-visible {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}

		&.is-hiding {
			opacity: 0;
			transform: translateY(100%);
		}

		// Mobile device styles.
		@media (max-width: 768px) {
			.wp-block-columns .wp-block-column:nth-child(2) div {
				justify-content: center;
			}
		}
	}
}
