.sc-drawer {
	position: fixed;
	box-sizing: border-box;
	width: var(--sc-drawer-width, 31rem);
	height: 100%;
	min-width: var(--sc-drawer-min-width, '300px');
	background-color: var(--sc-panel-background-color);
	box-shadow: var(--sc-shadow-x-large);
	padding: 0;
	margin: auto;
	box-shadow: var(--sc-shadow-x-large);
	border: none;
	border-radius: 0;
	outline: none;
	right: 0;
	top: 0;
	left: auto;
	bottom: auto;
	font-family: var(--sc-font-sans);
	font-weight: var(--sc-font-weight-normal);
	animation: slide-out
		var(--sc-drawer-transition-speed, var(--sc-transition-medium))
		cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 999999999;

	&[open] {
		animation: slide-in
			var(--sc-drawer-transition-speed, var(--sc-transition-medium))
			cubic-bezier(0.4, 0, 0.2, 1);
	}

	&:modal {
		max-height: 100%;
	}

	&::backdrop {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: var(--sc-overlay-background-color);
		pointer-events: all;
		animation: backdrop-fade-in
			var(--sc-drawer-transition-speed, var(--sc-transition-medium)) ease
			backwards;
		animation-direction: reverse;
	}

	&[open]::backdrop {
		animation: backdrop-fade-in
			var(--sc-drawer-transition-speed, var(--sc-transition-medium)) ease
			forwards;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: var(--sc-drawer-header-spacing, var(--sc-spacing-medium));
		border-bottom: var(--sc-drawer-border);
	}

	&__title {
		flex: 1 1 auto;
		font: inherit;
		font-size: var(--sc-font-size-large);
		line-height: var(--sc-line-height-dense);
		margin: 0;
	}

	&__close {
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		font-size: var(--sc-font-size-x-large);
		color: var(--sc-color-gray-500);
		cursor: pointer;
	}

	&__body {
		flex: 1 1 auto;
		padding: var(--sc-drawer-body-spacing, var(--sc-spacing-medium));
	}

	&__footer {
		border-top: var(--sc-drawer-border);
		padding: var(--sc-drawer-footer-spacing, var(--sc-spacing-medium));
	}
}

@keyframes slide-in {
	from {
		opacity: 0;
		transform: translateX(100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-out {
	from {
		opacity: 1;
		display: block;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		display: none;
		transform: translateX(100%);
	}
}

@keyframes backdrop-fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: var(--sc-drawer-backdrop-opacity, 0.35);
	}
}
