.sc-dropdown {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	&__trigger {
		display: block;
		cursor: pointer;
		border-width: 0;
		outline: none;
		background-color: unset;
	}
	&__panel {
		transform-origin: top left;
		box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
			0 4px 6px -2px rgba(0, 0, 0, 0.05);
		max-height: var(--panel-height);
		font-family: var(--sc-font-sans);
		font-size: var(--sc-font-size-medium);
		font-weight: var(--sc-font-weight-normal);
		color: var(--color);
		background-color: var(--sc-panel-background-color);
		border: solid 1px var(--sc-panel-border-color);
		border-radius: var(--sc-border-radius-medium);
		box-shadow: var(--sc-shadow-large);
		overflow: auto;
		overscroll-behavior: none;
		// pointer-events: none;
		transition: var(--sc-transition-fast) opacity,
			var(--sc-transition-fast) transform;
		z-index: 5;
		padding-top: 0.25em;
		padding-bottom: 0.25em;
		margin-top: 0.5em;
		position: absolute;
	}
	&__menu-item {
		display: block;
		padding: 10px 20px;
		cursor: pointer;
		transition: var(--sc-transition-fast) background-color;
		&:hover {
			background-color: var(--sc-color-gray-100);
		}
	}
}
