.sc-form-label {
    margin-bottom: var(--sc-spacing-medium);
    font-size: var(--sc-font-size-medium);
    font-style: normal;
    font-weight: var(--sc-font-weight-normal);
    color: var(--sc-color-gray-700);
}