// Label
.sc-form-label {
	font-size: var(--sc-font-size-medium);
	font-weight: var(--sc-font-weight-normal);
	margin-bottom: var(--sc-input-label-margin);
	display: inline-block;
	color: var(--sc-input-label-color);
	font-weight: var(--sc-input-label-font-weight);
	text-transform: var(--sc-input-label-text-transform, none);
	letter-spacing: var(--sc-input-label-letter-spacing, 0);
}
