.sc-form-check {
	display: flex;
	align-items: center;
	gap: 0.75em;
	color: inherit;
	font-size: var(--sc-input-font-size-medium);
	font-weight: var(--sc-input-font-weight);
	font-style: normal;
	font-weight: normal;
	line-height: var(--sc-checkbox-size);
}

.sc-check-input,
.sc-check-input[type="checkbox"],
.sc-check-input[type="radio"] {
	width: 1em;
	height: 1em;
	margin: 0.25em 0;
	vertical-align: top;
	background: {
		color: #fff;
		repeat: no-repeat;
		position: center;
		size: contain;
	}
	border: 1px solid rgba(0, 0, 0, 0.25);
	appearance: none;
	color-adjust: exact;

	// Radio
	&[type="radio"] {
		border-radius: 50%;
		&:checked {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
		}
	}

	// Checkbox
	&[type="checkbox"] {
		border-radius: 0.25em;
		&:checked {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
		}
		&:indeterminate {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
			background-color: var(
				--sc-check-input-background-color,
				var(--sc-color-primary-500)
			);
			border-color: var(
				--sc-check-input-border-color,
				var(--sc-color-primary-500)
			);
		}
	}

	// Checked & Indeterminate.
	&:checked {
		background-color: var(
			--sc-check-input-background-color,
			var(--sc-color-primary-500)
		);
		border-color: var(
			--sc-check-input-border-color,
			var(--sc-color-primary-500)
		);
	}
}
