.sc-tag {
	display: flex;
	align-items: center;
	line-height: 1;
	white-space: nowrap;
	text-decoration: none;
	user-select: none;
	font-weight: var(--sc-font-weight-bold);
	font-size: var(--sc-font-size-small);
	line-height: calc(
		var(--sc-input-height-medium) - var(--sc-input-border-width) * 2
	);
	border-width: 0;
	border-radius: var(--sc-input-border-radius-medium);
	padding: 0 var(--sc-spacing-small);
	box-sizing: border-box;

	&__clear {
		width: 1em;
		height: 1em;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Type modifiers
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sc-tag--primary {
	background-color: var(
		--sc-tag-primary-background-color,
		var(--sc-color-primary-500)
	);
	border-color: var(
		--sc-tag-primary-border-color,
		var(--sc-color-primary-500)
	);
	color: var(
		--sc-tag-primary-color,
		var(--sc-color-primary-text, var(--sc-color-white))
	);
}

.sc-tag--success {
	background-color: var(
		--sc-tag-success-background-color,
		var(--sc-color-success-100)
	);
	border-color: var(
		--sc-tag-success-border-color,
		var(--sc-color-success-200)
	);
	color: var(--sc-tag-success-color, var(--sc-color-success-800));
}

.sc-tag--info {
	background-color: var(--sc-color-info-100);
	border-color: var(--sc-color-info-200);
	color: var(--sc-color-info-700);
}

.sc-tag--default {
	background-color: var(
		--sc-tag-default-background-color,
		var(--sc-color-gray-100)
	);
	border-color: var(--sc-tag-default-border-color, var(--sc-color-gray-200));
	color: var(--sc-tag-default-color, var(--sc-color-gray-700));
}

.sc-tag--warning {
	background-color: var(--sc-color-warning-100);
	border-color: var(--sc-color-warning-200);
	color: var(--sc-color-warning-700);
}

.sc-tag--danger {
	background-color: var(--sc-color-danger-100);
	border-color: var(--sc-color-danger-200);
	color: var(--sc-color-danger-700);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Size modifiers
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sc-tag--small {
	font-size: var(--sc-button-font-size-small);
	height: calc(var(--sc-input-height-small) * 0.75);
	line-height: calc(
		var(--sc-input-height-small) - var(--sc-input-border-width) * 2
	);
	border-radius: var(--sc-input-border-radius-small);
	padding: 0 var(--sc-spacing-x-small);

	.sc-tag__clear {
		margin-left: var(--sc-spacing-xx-small);
		margin-right: calc(-1 * var(--sc-spacing-xxx-small));
	}
}

.sc-tag--medium {
	font-size: var(--sc-font-size-small);
	line-height: calc(
		var(--sc-input-height-medium) - var(--sc-input-border-width) * 2
	);
	border-radius: var(--sc-input-border-radius-medium);
	padding: 0 var(--sc-spacing-small);

	.sc-tag__clear {
		margin-left: var(--sc-spacing-xx-small);
		margin-right: calc(-1 * var(--sc-spacing-xx-small));
	}
}

.sc-tag--large {
	font-size: var(--sc-button-font-size-large);
	line-height: calc(
		var(--sc-input-height-large) - var(--sc-input-border-width) * 2
	);
	border-radius: var(--sc-input-border-radius-large);
	padding: 0 var(--sc-spacing-medium);

	.sc-tag__clear {
		margin-left: var(--sc-spacing-xx-small);
		margin-right: calc(-1 * var(--sc-spacing-x-small));
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Pill modifier
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.sc-tag--pill {
	border-radius: var(--sc-border-radius-pill);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Dark Mode
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.surecart-theme-dark {
	.sc-tag {
		background-color: var(--sc-color-gray-950);
		border-color: var(--sc-color-gray-900);
		color: var(--sc-color-gray-300);
	}

	.sc-tag--primary {
		background-color: var(--sc-color-primary-950);
		border-color: var(--sc-color-primary-900);
		color: var(--sc-color-primary-300);
	}

	.sc-tag--success {
		background-color: var(--sc-color-success-950);
		border-color: var(--sc-color-success-900);
		color: var(--sc-color-success-300);
	}

	.sc-tag--info {
		background-color: var(--sc-color-info-800);
		border-color: var(--sc-color-info-700);
		color: var(--sc-color-info-300);
	}

	.sc-tag--warning {
		background-color: var(--sc-color-warning-950);
		border-color: var(--sc-color-warning-900);
		color: var(--sc-color-warning-300);
	}

	.sc-tag--danger {
		background-color: var(--sc-color-danger-950);
		border-color: var(--sc-color-danger-900);
		color: var(--sc-color-danger-300);
	}
}
