.wp-block-button {
	&.is-style-outline {
		button.wp-block-button__link.wp-element-button:not(
				.has-background,
				:hover,
				:focus
			),
		div.wp-block-button__link.wp-element-button:not(
				.has-background,
				:hover,
				:focus
			),
		a.wp-block-button__link.wp-element-button:not(
				.has-background,
				:hover,
				:focus
			) {
			background-color: transparent;
			background-image: none;
		}
	}
}

.sc-button__link {
	position: relative;
	display: inline-block;
	box-sizing: border-box;

	&[disabled="true"] {
		pointer-events: none;
	}
}

.sc-button__link {
	text-align: center;

	.sc-button__link-text {
		transition: opacity 0.25s ease;
	}

	.sc-spinner {
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.25s ease;
		position: absolute;
		top: calc(50% - 8px);
		left: calc(50% - 8px);
		--spinner-size: 15px;
	}

	&--busy {
		.sc-button__link-text {
			opacity: 0;
			visibility: hidden;
		}
		.sc-spinner {
			opacity: 1;
			visibility: visible;
		}
	}

	&.sc-button__width-100 {
		width: 100%;
		flex-basis: 100%;
	}

	&.sc-button__width-25 {
		width: 25%;
	}

	&.sc-button__width-50 {
		width: 50%;
	}

	&.sc-button__width-75 {
		width: 75%;
	}
}

.wp-block-button.wp-block-button__width-25 {
	width: calc(25% - var(--wp--style--block-gap, 0.5em) * 0.75);
}
.wp-block-button.wp-block-button__width-50 {
	width: calc(50% - var(--wp--style--block-gap, 0.5em) * 0.5);
}
.wp-block-button.wp-block-button__width-75 {
	width: calc(75% - var(--wp--style--block-gap, 0.5em) * 0.25);
}
.wp-block-button.wp-block-button__width-100 {
	flex-basis: 100%;
	width: 100%;
}
.wp-block-button.has-custom-width {
	.wp-block-button__link {
		width: 100%;
	}
}
