:host {
  display: block;
  font-family: var(--sc-font-sans);
  font-size: var(--sc-checkout-font-size, 16px);
}

.collapse-link {
  display: flex;
  align-items: center;
  gap: 0.35em;
}

.collapse-link__icon {
  width: 18px;
  height: 18px;
  color: var(--sc-color-gray-500);
}

.item__product + .item__product {
  margin-top: 20px;
}

.empty {
  color: var(--sc-color-gray-500);
}

.summary {
  position: relative;
  user-select: none;
  cursor: pointer;

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s ease-in-out;
    transition-timing-function: cubic-bezier(.22,.68,0,1.71);
  }

  .collapse-link__icon {
    transform: rotate(0);
    transition: transform 0.25s ease-in-out;
  }
}

.summary--expanded {
  .summary__content {
    overflow: visible;
    max-height: 99em;
    animation: hide-scroll 1s backwards;
    @keyframes hide-scroll {
      from, to { overflow: hidden; }
    }
  }
  .collapse-link__icon {
    transform: rotate(180deg);
  }
}

.summary--collapsed {
  .empty {
    display: none;
  }
}

.summary__content.hidden {
  display: none;
}

::slotted(*) {
  margin: 4px 0 !important;
}
::slotted(sc-divider) {
  margin: 16px 0 !important;
}
sc-line-item ~ sc-line-item {
  margin-top: 14px;
}
