.wp-block-surecart-icon {
	line-height: 0;

	svg {
		width: 100%;
		height: 100%;
		stroke: currentColor;
	}

	a {
		display: inline-block;
		text-decoration: none;
		color: inherit;

		&:hover {
			opacity: 0.8;
		}
	}

	span {
		display: inline-block;
	}
}

.surecart-icon {
	width: 100%;
	height: 100%;
}
