:host {
  --padding: 0;
  --spacing: var(--ce-spacing-large);
  display: block;
}
::slotted(* ~ *) {
  margin-top: var(--spacing);
}

.tab-panel {
  border: solid 1px transparent;
  padding: var(--padding);
  font-family: var(--ce-font-sans);
  font-size: var(--ce-font-size-medium);
}
