:host {
  display: block;
}

sc-line-item {
  text-align: left;
  font-size: var(--sc-font-size-small);
  line-height: var(--sc-line-height-dense);
  color: var(--sc-input-label-color);
}

sc-line-item::part(base) {
  grid-template-columns: max-content auto auto;
}
