:host {
  display: block;
}

.tab-group {
  display: flex;
  border: solid 1px transparent;
  border-radius: 0;
  flex-direction: row;
}
.tab-group .tab-group__tabs {
  display: flex;
  position: relative;
}
.tab-group__nav-container {
  order: 1;
}

.tab-group__tabs {
  flex: 0 0 auto;
  flex-direction: column;
}
.tab-group__body {
  flex: 1 1 auto;
  order: 2;
  padding: 0 var(--ce-spacing-xx-large);
}

::slotted(ce-tab) {
  margin-bottom: var(--ce-spacing-xx-small);
}
