.wp-block-surecart-product-list-sidebar-toggle {
    cursor: pointer;
    width: fit-content;
    background: #0000;
    border: none;
    color: currentColor;
    cursor: pointer;
    margin: 0;
    padding: 0;
}