:host {
  display: block;
}

.notice {
  background: var(--ce-color-gray-100);
  border-radius: var(--ce-border-radius-small);
  padding: var(--ce-spacing-small);
  font-size: var(--ce-font-size-x-small);
  display: flex;
  gap: 0.5em;
  line-height: 1;
}

.notice--warning {
  background: var(--ce-color-warning-50);
  color: var(--ce-color-warning-700);
}
