.sc-bundle-item__image {
	width: 32px;
	height: 32px;
	object-fit: cover;
	border-radius: 4px;
	border: solid 1px var(--sc-input-border-color, #d1d5db);
	flex-shrink: 0;
}

.sc-bundle-item__image-placeholder {
	width: 32px;
	height: 32px;
	background: var(--sc-color-gray-100, #f3f4f6);
	border-radius: 4px;
	flex-shrink: 0;
}
