:host {
  display: block;
}

.coupon-form {
  position: relative;
}
// .coupon-tag {
//   margin-bottom: 4px;
// }

// ce-input {
//   margin-bottom: var(--ce-spacing-small);
// }

.form {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: opacity var(--ce-transition-fast) ease-in-out;
}

.coupon-form--is-open {
  .form {
    opacity: 1;
    visibility: visible;
    height: auto;
    margin-top: var(--ce-spacing-small);
    display: grid;
    gap: var(--ce-spacing-small);
  }

  .trigger {
    color: var(--ce-input-label-color);

    &:hover {
      text-decoration: none;
    }
  }
}

.trigger {
  cursor: pointer;
  font-size: var(--ce-font-size-small);
  color: var(--ce-color-gray-500);
  user-select: none;

  &:hover {
    text-decoration: underline;
  }
}
