.product-item-title {
  padding-top: var(--sc-product-title-padding-top);
  padding-bottom: var(--sc-product-title-padding-bottom);
  font-size: var(--sc-product-title-font-size);
  text-align: var(--sc-product-title-align);
  font-weight: var(--sc-product-title-font-weight);
  color: var(--sc-product-title-text-color);
  line-height: 1.2;
}
