.product-item-button {
  padding-top: var(--sc-product-button-padding-top);
  padding-bottom: var(--sc-product-button-padding-bottom);
  padding-left: var(--sc-product-button-padding-left);
  padding-right: var(--sc-product-button-padding-right);
  margin-top: var(--sc-product-button-margin-top);
  margin-bottom: var(--sc-product-button-margin-bottom);
  margin-left: var(--sc-product-button-margin-left);
  margin-right: var(--sc-product-button-margin-right);
}
