sc-product-donation-choices sc-choice-container::part(base) {
	display: flex;
	align-items: center;
	justify-content: center;
}
sc-product-donation-choices sc-choice-container::part(content) {
	width: 100%;
	text-align: center;
}
.wp-block-surecart-product-donation-amount,
.wp-block-surecart-product-donation-amount > sc-choice-container {
	width: 100%;
	display: flex;
}
sc-product-donation-choices .block-list-appender.wp-block {
	width: 100%;
	display: flex;
	position: relative;
}
sc-product-donation-choices .block-list-appender.wp-block > .block-editor-inserter {
	width: 100%;
}

sc-custom-donation-amount sc-choice-container sc-price-input sc-button {
	--sc-button-default-background-color: var(--sc-color-primary-500);
	--sc-button-default-color: white;
}
  
sc-custom-donation-amount sc-choice-container sc-price-input sc-button {
	margin: 5px;
}

sc-custom-donation-amount sc-choice-container sc-price-input::part(base) {
	height: auto;
}

sc-custom-donation-amount sc-choice-container sc-price-input:part(suffix) {
	--sc-input-spacing-medium: 5px;
}