.wp-block-surecart-product-review-average-rating-stars {
	display: flex;
	line-height: 1;

	.sc-star-row__label__svg {
		// Ensure fill attribute cascades to polygon child element.
		polygon {
			fill: inherit;

			// Second polygon in half-star should not be filled (outline only).
			&:nth-child(2) {
				fill: none;
			}
		}
	}
}
