.wp-block-surecart-add-to-cart {
    [data-text],
    [data-loader] {
        transition: opacity var(--sc-transition-fast) ease-in-out,
            visibility var(--sc-transition-fast) ease-in-out;
    }

    [data-loader] {
        opacity: 0;
        visibility: hidden;
    }
}

.sc-input-group {
    margin-bottom: 20px; // not working...
}