.wp-block-surecart-cart-line-item-quantity {
	&.sc-input-group {
		border: none;
		box-shadow: none;
	}
	&.sc-input-group-text,
	input[type="number"].sc-form-control.sc-quantity-selector__control {
		color: inherit;
	}
}
