:host {
  display: block;
}

.card {
  font-family: var(--ce-font-sans);
}

.card:not(.card--borderless) {
  padding: var(--ce-spacing-xx-large);
  background: var(--ce-color-white);
  box-shadow: var(--ce-shadow-medium);
  border-radius: var(--ce-input-border-radius-medium);
}

.card--has-title-slot {
  .card--title {
    font-weight: var(--ce-font-weight-bold);
    line-height: var(--ce-line-height-normal);
  }
}

::slotted(*:first-child) {
  margin-top:0;
}
::slotted(*:last-child) {
  margin-bottom:0;
}
