:host {
  display: block;
}

.card {
  padding: var(--ce-spacing-xx-large);
  background: var(--ce-color-white);
  box-shadow: var(--ce-shadow-large);
  border-radius: var(--ce-input-border-radius-medium);
}
