/**
 * @prop --width: The width of the switch.
 * @prop --height: The height of the switch.
 * @prop --thumb-size: The size of the thumb.
 */
:host {
  --height: var(--ce-toggle-size);
  --thumb-size: calc(var(--ce-toggle-size) - 2px);
  --width: calc(var(--height) * 2);

  display: block;
}

.switch {
  display: inline-flex;
  align-items: flex-start;
  font-family: var(--ce-input-font-family);
  font-size: var(--ce-input-font-size-medium);
  font-weight: var(--ce-input-font-weight);
  color: var(--ce-input-color);
  vertical-align: middle;
  cursor: pointer;
}

.switch__control {
  flex: 0 0 auto;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: var(--height);
  background-color: var(--ce-color-gray-300);
  border: solid var(--ce-input-border-width) var(--ce-color-gray-300);
  border-radius: var(--height);
  transition: var(--ce-transition-fast) border-color, var(--ce-transition-fast) background-color;

  .switch__thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    background-color: var(--ce-color-white);
    border-radius: 50%;
    border: solid var(--ce-input-border-width) var(--ce-input-border-color);
    transform: translateX(calc(var(--width) / -2 + var(--thumb-size) / 2 - (var(--thumb-size) - var(--height)) / 2));
    transition: var(--ce-transition-fast) transform ease, var(--ce-transition-fast) background-color, var(--ce-transition-fast) border-color, var(--ce-transition-fast) box-shadow;
  }

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    padding: 0;
    margin: 0;
    pointer-events: none;
  }
}

// Hover
.switch:not(.switch--checked):not(.switch--disabled) .switch__control:hover {
  background-color: var(--ce-color-gray-200);
  border-color: var(--ce-color-gray-200);

  .switch__thumb {
    background-color: var(--ce-color-white);
    border-color: var(--ce-input-border-color);
  }
}

// Focus
.switch.switch--focused:not(.switch--checked):not(.switch--disabled) .switch__control {
  background-color: var(--ce-color-gray-200);
  border-color: var(--ce-color-gray-200);

  .switch__thumb {
    background-color: var(--ce-color-white);
    border-color: var(--ce-color-gray-300);
    box-shadow: 0 0 0 1px var(--ce-color-gray-300);
  }
}

// Checked
.switch--checked .switch__control {
  background-color: var(--ce-color-primary-500);
  border-color: var(--ce-color-primary-500);

  .switch__thumb {
    background-color: var(--ce-color-white);
    border-color: var(--ce-color-primary-500);
    transform: translateX(calc(var(--width) / 2 - var(--thumb-size) / 2 + (var(--thumb-size) - var(--height)) / 2));
  }
}

// Checked + hover
.switch.switch--checked:not(.switch--disabled) .switch__control:hover {
  opacity: 0.8;

  .switch__thumb {
    background-color: var(--ce-color-white);
    border-color: var(--ce-color-primary-500);
  }
}

// Checked + focus
.switch.switch--checked:not(.switch--disabled).switch--focused .switch__control {
  .switch__thumb {
    background-color: var(--ce-color-white);
    border-color: var(--ce-color-primary-500);
    box-shadow: 0 0 0 1px var(--ce-focus-ring-color-primary);
  }
}

// Disabled
.switch--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.switch__label {
  margin-left: 0.7em;
  user-select: none;
  line-height: var(--height);
}

.switch--is-required .switch__title:after {
  content: " *";
  color: var(--ce-color-danger-500);
}

.switch__title {
  color: var(--ce-input-label-color);
  font-weight: var(--ce-input-label-font-weight);
  font-size: var(--ce-input-label-font-size-medium);
}

.switch__description {
  display: block;
  color: var(--ce-color-gray-500);
  line-height: 1em;
  margin: 0.5em 0 0;
  font-size: var(--ce-font-size-small);
}
slot[name='description']::slotted(*) {
  margin: 0.75em 0;
  line-height: 1em;
  vertical-align: center;
}
