.wp-block-surecart-product-buy-button {
	span,
	button {
		display: flex;
		gap: 10px;
		justify-content: center;
		align-items: center;
	}

	// Icon styles
	svg {
		width: 1em;
		height: 1em;
		flex-shrink: 0;
	}
}
