.wp-block-surecart-product-review-template {
	width: 100%; // prevent collapsing during loading.
	list-style: none !important;
	max-width: 100%;
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box;
}
