.wp-block-surecart-slide-out-cart-line-items {
	flex: 1 1 200px;
	overflow: auto;
	display: flex;
	flex-direction: column;
	white-space: nowrap;

	.sc-quantity-selector {
		&[hidden] {
			display: none;
		}
	}
}
