:host {
  display: block;
}

.loading {
  display: grid;
  gap: 1em;
}

.line-items {
  margin: 0;
}

ce-divider {
  margin: 0;
}

.order {
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1em;
  }
  &__number,
  &__date {
    font-size: var(--ce-font-size-medium);
    font-weight: var(--ce-font-weight-normal);
    color: var(--ce-color-gray-500);
    line-height: 1;
    margin: 0 0 0.75em 0;
  }
  &__date {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 1em;

    h2 {
      font-size: var(--ce-font-size-xx-large);
      line-height: 1;
      margin: 0;
    }
  }
  &__body {
    margin-top: 2em;
  }
}
