<!-- wp:surecart/price-selector {"label":"Choose A Product"}  -->
<ce-price-choices label="Choose A Product" type="radio" columns="1"><div><!-- wp:surecart/price-choice -->
<ce-price-choice type="radio" show-label="1" show-price="1" show-control="1"></ce-price-choice>
<!-- /wp:surecart/price-choice --></div></ce-price-choices>
<!-- /wp:surecart/price-selector -->

<!-- wp:surecart/express-payment -->
<ce-express-payment divider-text="or" class="wp-block-surecart-express-payment"></ce-express-payment>
<!-- /wp:surecart/express-payment -->

<!-- wp:surecart/columns -->
<ce-columns class="wp-block-surecart-columns"><!-- wp:surecart/column -->
<ce-column class="wp-block-surecart-column"><!-- wp:surecart/name -->
<ce-customer-name label="Name" class="wp-block-surecart-name"></ce-customer-name>
<!-- /wp:surecart/name --></ce-column>
<!-- /wp:surecart/column -->

<!-- wp:surecart/column -->
<ce-column class="wp-block-surecart-column"><!-- wp:surecart/email -->
<ce-customer-email label="Email" autocomplete="email" inputmode="email" required class="wp-block-surecart-email"></ce-customer-email>
<!-- /wp:surecart/email --></ce-column>
<!-- /wp:surecart/column --></ce-columns>
<!-- /wp:surecart/columns -->

<!-- wp:surecart/payment {"secure_notice":"This is a secure, encrypted payment"} -->
<ce-payment label="Payment" secure-notice="This is a secure, encrypted payment" class="wp-block-surecart-payment"></ce-payment>
<!-- /wp:surecart/payment -->

<!-- wp:surecart/totals {"collapsible":true,"collapsed":false} -->
<ce-order-summary collapsible="1" class="wp-block-surecart-totals"><!-- wp:surecart/divider -->
<ce-divider></ce-divider>
<!-- /wp:surecart/divider -->

<!-- wp:surecart/line-items -->
<ce-line-items removable="1" editable="1" class="wp-block-surecart-line-items"></ce-line-items>
<!-- /wp:surecart/line-items -->

<!-- wp:surecart/divider -->
<ce-divider></ce-divider>
<!-- /wp:surecart/divider -->

<!-- wp:surecart/subtotal -->
<ce-line-item-total class="ce-subtotal" total="subtotal" class="wp-block-surecart-subtotal"><span slot="description">Subtotal</span></ce-line-item-total>
<!-- /wp:surecart/subtotal -->

<!-- wp:surecart/tax-line-item -->
<ce-line-item-tax class="wp-block-surecart-tax-line-item"></ce-line-item-tax>
<!-- /wp:surecart/tax-line-item -->

<!-- wp:surecart/coupon {"text":"Add Coupon Code","button_text":"Apply Coupon"} -->
<ce-order-coupon-form label="Add Coupon Code">Apply Coupon</ce-order-coupon-form>
<!-- /wp:surecart/coupon -->

<!-- wp:surecart/divider -->
<ce-divider></ce-divider>
<!-- /wp:surecart/divider -->

<!-- wp:surecart/total -->
<ce-line-item-total class="ce-line-item-total" total="total" size="large" show-currency="1" class="wp-block-surecart-total"><span slot="description">Total</span><span slot="subscription-title">Total Due Today</span></ce-line-item-total>
<!-- /wp:surecart/total --></ce-order-summary>
<!-- /wp:surecart/totals -->

<!-- wp:surecart/submit {"show_total":true,"full":true} -->
<ce-order-submit type="primary" full="true" size="large" icon="lock" show-total="true" class="wp-block-surecart-submit">Purchase</ce-order-submit>
<!-- /wp:surecart/submit -->
