<!-- wp:surecart/price-selector {"label":"Choose A Plan"} -->
<ce-price-choices label="Choose A Plan" type="radio" columns="1"><div><!-- wp:surecart/price-choice -->
	<ce-price-choice type="radio" show-label="1" show-price="1" show-control="1"></ce-price-choice>
	<!-- /wp:surecart/price-choice --></div></ce-price-choices>
	<!-- /wp:surecart/price-selector -->

	<!-- wp:surecart/express-payment -->
	<ce-express-payment divider-text="or" class="wp-block-surecart-express-payment"></ce-express-payment>
	<!-- /wp:surecart/express-payment -->

	<!-- wp:surecart/email -->
	<ce-customer-email label="Email" autocomplete="email" inputmode="email" required class="wp-block-surecart-email"></ce-customer-email>
	<!-- /wp:surecart/email -->

	<!-- wp:surecart/payment {"secure_notice":"This is a secure, encrypted payment"} -->
	<ce-payment label="Payment" secure-notice="This is a secure, encrypted payment" class="wp-block-surecart-payment"></ce-payment>
	<!-- /wp:surecart/payment -->

	<!-- wp:surecart/totals {"collapsible":true,"collapsed":true} -->
	<ce-order-summary collapsible="1" collapsed="1" class="wp-block-surecart-totals"><!-- wp:surecart/divider -->
	<ce-divider></ce-divider>
	<!-- /wp:surecart/divider -->

	<!-- wp:surecart/line-items -->
	<ce-line-items removable="1" editable="1" class="wp-block-surecart-line-items"></ce-line-items>
	<!-- /wp:surecart/line-items -->

	<!-- wp:surecart/divider -->
	<ce-divider></ce-divider>
	<!-- /wp:surecart/divider -->

	<!-- wp:surecart/subtotal -->
	<ce-line-item-total class="ce-subtotal" total="subtotal" class="wp-block-surecart-subtotal"><span slot="description">Subtotal</span></ce-line-item-total>
	<!-- /wp:surecart/subtotal -->

	<!-- wp:surecart/coupon {"text":"Add Coupon Code","button_text":"Apply Coupon"} -->
	<ce-order-coupon-form label="Add Coupon Code">Apply Coupon</ce-order-coupon-form>
	<!-- /wp:surecart/coupon -->

	<!-- wp:surecart/divider -->
	<ce-divider></ce-divider>
	<!-- /wp:surecart/divider -->

	<!-- wp:surecart/total -->
	<ce-line-item-total class="ce-line-item-total" total="total" size="large" show-currency="1" class="wp-block-surecart-total"><span slot="description">Total</span><span slot="subscription-title">Total Due Today</span></ce-line-item-total>
	<!-- /wp:surecart/total --></ce-order-summary>
	<!-- /wp:surecart/totals -->

	<!-- wp:surecart/submit {"full":true} -->
	<ce-order-submit type="primary" full="true" size="large" icon="lock" class="wp-block-surecart-submit">Purchase</ce-order-submit>
	<!-- /wp:surecart/submit -->
