<!-- wp:checkout-engine/price-selector {"label":"Choose A Plan"} -->
<ce-price-choices label="Choose A Plan" type="radio" columns="1"><div><!-- wp:checkout-engine/price-choice -->
	<ce-price-choice type="radio" show-label="1" show-price="1" show-control="1"></ce-price-choice>
	<!-- /wp:checkout-engine/price-choice --></div></ce-price-choices>
	<!-- /wp:checkout-engine/price-selector -->

	<!-- wp:checkout-engine/express-payment -->
	<ce-express-payment divider-text="or" class="wp-block-checkout-engine-express-payment"></ce-express-payment>
	<!-- /wp:checkout-engine/express-payment -->

	<!-- wp:checkout-engine/email -->
	<ce-email label="Email" autocomplete="email" inputmode="email" required class="wp-block-checkout-engine-email"></ce-customer-email>
	<!-- /wp:checkout-engine/email -->

	<!-- wp:checkout-engine/payment {"secure_notice":"This is a secure, encrypted payment"} -->
	<ce-payment label="Payment" secure-notice="This is a secure, encrypted payment" class="wp-block-checkout-engine-payment"></ce-payment>
	<!-- /wp:checkout-engine/payment -->

	<!-- wp:checkout-engine/totals {"collapsible":true,"collapsed":true} -->
	<ce-order-summary collapsible="1" collapsed="1" class="wp-block-checkout-engine-totals"><!-- wp:checkout-engine/divider -->
	<ce-divider></ce-divider>
	<!-- /wp:checkout-engine/divider -->

	<!-- wp:checkout-engine/line-items -->
	<ce-line-items removable="1" editable="1" class="wp-block-checkout-engine-line-items"></ce-line-items>
	<!-- /wp:checkout-engine/line-items -->

	<!-- wp:checkout-engine/divider -->
	<ce-divider></ce-divider>
	<!-- /wp:checkout-engine/divider -->

	<!-- wp:checkout-engine/subtotal -->
	<ce-line-item-total class="ce-subtotal" total="subtotal" class="wp-block-checkout-engine-subtotal"><span slot="description">Subtotal</span></ce-line-item-total>
	<!-- /wp:checkout-engine/subtotal -->

	<!-- wp:checkout-engine/coupon {"text":"Add Coupon Code","button_text":"Apply Coupon"} -->
	<ce-coupon-form label="Add Coupon Code">Apply Coupon</ce-coupon-form>
	<!-- /wp:checkout-engine/coupon -->

	<!-- wp:checkout-engine/divider -->
	<ce-divider></ce-divider>
	<!-- /wp:checkout-engine/divider -->

	<!-- wp:checkout-engine/total -->
	<ce-line-item-total class="ce-line-item-total" total="total" size="large" show-currency="1" class="wp-block-checkout-engine-total"><span slot="description">Total</span><span slot="subscription-title">Total Due Today</span></ce-line-item-total>
	<!-- /wp:checkout-engine/total --></ce-order-summary>
	<!-- /wp:checkout-engine/totals -->

	<!-- wp:checkout-engine/submit {"full":true} -->
	<ce-button submit="1" type="primary" full="1" size="large" class="wp-block-checkout-engine-submit"><svg slot="prefix" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewbox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"></path></svg>Purchase</ce-button>
	<!-- /wp:checkout-engine/submit -->
