.wp-block-surecart-cart-line-item-status {
	display: inline-flex;
	align-items: center;
	gap: 0.25em;
	color: var(--sc-color-danger-500);
	font-weight: var(--sc-font-weight-semibold);
	font-size: var(--sc-font-size-small);
}
