.wp-block-surecart-product-pagination-previous {
	display: inline-flex;
	align-items: center;
	gap: var(--sc-spacing-xx-small);
	text-decoration: none;

	&__icon {
		width: 1em;
		height: 1em;
	}

	&:focus:not(:focus-visible) {
		outline: none;
	}
}
