.wp-block-surecart-cart-header-v2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-bottom: var(--sc-drawer-border);

	&__title {
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 0 var(--sc-spacing-small);
	}

	&__close {
		cursor: pointer;

		svg {
			width: 20px;
			height: 20px;
		}
	}
}
