.wp-block-surecart-cart-coupon-v2 {
	.trigger {
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	.sc-tag {
		button {
			background: transparent;
			border: none;
			padding: 0px;
			cursor: pointer;
			margin-left: 0.5em;
			color: var(--sc-color-gray-700);
			box-shadow: none;

			svg {
				width: 16px;
				height: 16px;
			}
		}
	}
}
