.sc-cart-coupon__wrapper {
	padding: 1.25em;

    .trigger {
        cursor: pointer;
    }

    .sc-tag {
        button {
            background: transparent;
            border: none;
            padding: 0px;
            cursor: pointer;
            margin-left: 0.5em;

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}
