.wp-block-surecart-cart-coupon-v2 {
	border-bottom: var(--sc-drawer-border);

	.trigger {
		cursor: pointer;
	}

	.sc-tag {
		button {
			background: transparent;
			border: none;
			padding: 0px;
			cursor: pointer;
			margin-left: 0.5em;

			svg {
				width: 16px;
				height: 16px;
			}
		}
	}
}
