.h3 {
  --ifm-h3-font-size: 1.5rem;
    margin-bottom: calc( var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading) );
    margin-top: calc(var(--ifm-h3-vertical-rhythm-top) * var(--ifm-leading));
}
