.wp-block-surecart-product-price-choices-template {
	container-type: inline-size;
	container-name: product-price-choices-template;
}

@container product-price-choices-template (max-width: 320px) {
	.wp-block-surecart-product-price-choice-template {
		flex-direction: column;
	}
}
