.wp-block-columns :where(.wp-block) {
	max-width: none;
	margin-left: 0;
	margin-right: 0;
}

html :where(.wp-block-column) {
	margin-top: 0;
	margin-bottom: 0;
}

div[data-type='surecart/columns']
	:is(div[data-type='surecart/column'], div[data-type='core/column']) {
	margin-block-start: auto;
}

@media screen and (min-width: 782px) {
	.wp-block-surecart-columns:not(.is-not-stacked-on-mobile)
		> .wp-block-surecart-column {
		flex-basis: content;
	}
}

.editor-styles-wrapper :where(body .is-layout-flow) > :last-child:last-child {
    margin-top: 0;
}
