<!-- wp:surecart/order-confirmation -->
<ce-order-confirmation><!-- wp:paragraph -->
<p>Thank you for your purchase! Please check your inbox for additional information.</p>
<!-- /wp:paragraph -->

<!-- wp:surecart/order-confirmation-line-items -->
<ce-dashboard-module heading="Summary" class="wp-block-surecart-order-confirmation-line-items"><ce-card><ce-order-confirmation-line-items></ce-order-confirmation-line-items><ce-divider></ce-divider><ce-order-confirmation-totals></ce-order-confirmation-totals></ce-card></ce-dashboard-module>
<!-- /wp:surecart/order-confirmation-line-items -->

<!-- wp:surecart/customer-dashboard-button {"label":"Manage Orders"} /--></ce-order-confirmation>
<!-- /wp:surecart/order-confirmation -->
