.wp-block-surecart-product-quick-view-button {
    &.wp-block-button__link {
        display: flex;
        align-items: center;
    }
    gap: 0.5em;
	text-decoration: none;
    background-color: var(--sc-color-gray-300);
    color: var(--sc-color-gray-800);
    cursor: pointer;
    &.loading {
        pointer-events: none;
    }
}
