.wp-block-surecart-product-quick-view-button {
	gap: 0.5em;
	text-decoration: none;
	cursor: pointer;

	&__icon {
		width: 1em;
		height: 1em;
	}

	&.wp-block-button__link {
		display: flex;
		align-items: center;
		width: max-content;
		background-color: #ffffff;
		color: #000000;
	}

	&.loading {
		pointer-events: none;
	}

	&.is-style-show-on-hover {
		opacity: 0;
		transition: opacity 0.35s ease;
	}
}

li:hover .wp-block-surecart-product-quick-view-button.is-style-show-on-hover,
.wp-block-surecart-product-quick-view-button.is-style-show-on-hover:focus {
	opacity: 1;
}
