:host {
  display: block;
}

.subscription-edit {
  display: grid;
  gap: 2em;

  &__plans {
    display: grid;
    gap: 1em;
  }
}

.subscription {
  position: relative;

  &__details {
    line-height: var(--ce-line-height-normal);
  }

  &__name {
    font-weight: var(--ce-font-weight-bold);
    font-size: var(--ce-font-size-large);
    line-height: var(--ce-line-height-normal)
  }

  &__fine-print {
    font-size: var(--ce-font-size-x-small);
    color: var(--ce-color-gray-500);
  }
}

