:host {
  display: block;
  margin-bottom: var(--presto-form-section-spacing);
}

::slotted(presto-form-row:not(:last-of-type)) {
  margin-bottom: var(--presto-form-row-spacing, 0.75em);
}

.section___title,
h3.section__title {
  font-size: var(--presto-form-section-font-size);
  font-weight: var(--presto-form-section-font-weight);
  margin: 0;
}

.section__description {
  color: var(--presto-color-gray-500);
  line-height: 1em;
  margin: 0.75em 0;
  font-size: var(--presto-font-size-small);
}

slot[name='description']::slotted(*) {
  margin: 0.75em 0;
  line-height: 1em;
  vertical-align: center;
}

.section__label {
  margin-bottom: var(--presto-form-section-title-spacing);
}
