:host {
  display: block;
}

.shipping-choices::part(items) {
  border: var(--sc-input-border, 1px solid var(--sc-color-gray-300));
  border-radius: var(--sc-shipping-choice-border-radius, var(--sc-input-border-radius-medium));
  box-shadow: var(--sc-shipping-box-shadow, var(--sc-input-box-shadow));
  overflow: hidden;
  position: relative;
}

.shipping-choice {
  width: 100%;
  padding: var(--sc-spacing-medium);
  margin: 0;
  background-color: var(--sc-color-white);
  box-sizing: border-box;
  border-bottom: var(--sc-input-border, 1px solid var(--sc-color-gray-300));

  &:last-child {
    border-bottom-width: 0;
  }
}

.shipping-choice {
  &__price {
    color: var(--sc-input-label-color);
    font-weight: var(--sc-price-choice-price-font-weight, var(--sc-font-weight-normal));
  }

  &__name {
    display: inline-block;
    color: var(--sc-price-choice-name-color, var(--sc-input-label-color));
    font-size: var(--sc-price-choice-name-size, var(--sc-input-label-font-size-medium));
    font-weight: var(--sc-price-choice-name-font-weight, var(--sc-font-weight-bold));
    text-transform: var(--sc-price-choice-text-transform, var(--sc-input-label-text-transform, none));
  }

  &__description {
    color: var(--sc-input-label-color);
    font-weight: var(--sc-price-choice-price-font-weight, var(--sc-font-weight-normal));
  }
}

sc-radio::part(base) {
  width: 100%;
}

sc-radio::part(label) {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

sc-radio-group::slotted(sc-radio:not(:last-of-type)) {
  margin-bottom: 0;
}
