ce-checkout {
  display: block;
  font-family: var(--ce-font-sans);
  font-size: var(--ce-checkout-font-size, 16px);

  h3 {
    font-size: var(--ce-input-label-font-size-medium);
  }
}

.ce-checkout-container {
  &.ce-align-center {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  &.ce-align-wide {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

::slotted(*) {
  font-family: var(--ce-font-sans);
}
