:host {
  display: block;
  --column-width-min: 125px;
  position: relative;
}

:host(:not(:last-child)) {
  border-bottom: 1px solid var(--ce-color-gray-200);
}

.list-row {
  color: var(--ce-color-gray-800);
  text-decoration: none;
  display: grid;
  justify-content:space-between;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: var(--ce-spacing-xx-small);
  padding: var(--ce-spacing-medium) var(--ce-spacing-large);
  transition: background-color var(--ce-transition-fast) ease;
  min-width: 0px;
  min-height: 0px;

  &[href]:hover {
    background: var(--ce-color-gray-50);
  }

  &__prefix,
  &__suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index:1;
  }

  &__prefix {
    left: var(--ce-spacing-large);
  }

  &__suffix {
    right: var(--ce-spacing-large);
  }

  &--has-prefix {
    padding-left: var(--ce-spacing-xxxx-large);
  }
  &--has-suffix {
    padding-right: var(--ce-spacing-xxxx-large);
  }
}


.list-row.breakpoint-lg {
  grid-template-columns: repeat(calc(var(--columns) - 1), 1fr) 0.5fr;
  gap: var(--ce-spacing-large);

  ::slotted(:last-child:not(:first-child)) {
    display: flex;
    justify-content: flex-end;
  }
}

