.wp-block-checkout-engine-checkout-form::after {
	content: '';
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 4px;
	box-shadow: 0 0 0 var( --wp-admin-border-width-focus ) transparent;
}

// .editor-styles-wrapper {
//   ce-price-choices {
//     transition: border 0.2s ease, padding 0.2s ease;

//     ce-price-choice[data-block] {
//       margin: 0;
//     }

//     &.has-child-selected,
//     &.is-selected {
//       border-radius: 4px;
//       border: 1px dashed rgba(0,0,0,0.35);
//       padding: 2em;

//       ce-price-choice[data-block] {
//         margin: 0 0 var(--ce-form-row-spacing, 0.75em) 0;
//       }
//     }
//   }
// }

.ce-checkout-container {
  .block-editor-block-list__layout > * {
    min-width: 0;
  }

  // .block-editor-block-list__layout * .block-editor-block-list__block {
  //   padding: 0;
  //   margin: 0 0 var(--ce-form-row-spacing, 0.75em) 0;
  // }

  .block-editor-block-list__layout {
    > * {
      margin-bottom: var(--ce-form-row-spacing, 0.75em);
    }

    [data-type="checkout-engine/form-section"] {
      margin-bottom:  var(--ce-form-section-spacing);
      margin-top: var(--ce-form-section-spacing);
    }
  }
}

.wp-block-checkout-engine-checkout-form {
  &[data-align="center"] {
    max-width: 600px;
    margin: auto;
  }
  .block-editor-block-list__layout {
    > * {
      margin-bottom: 1em;
    }
  }
}


.has-child-selected .wp-block-checkout-engine-checkout-form::after {
	position: absolute;
	z-index: 1;
	pointer-events: none;
	content: '';
	box-shadow: 0 0 0 var( --wp-admin-border-width-focus )
		var( --wp-admin-theme-color );
	border-radius: 0;
}

.wp-block-checkout-engine-checkout-form {
  .block-editor-inner-blocks {
    .block-editor-block-list__layout * .block-editor-block-list__block {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
