.tooltip {
  position: relative;


  &--has-width .tooltip-text {
    white-space: normal;
    min-width: var(--ce-tooltip-width);
    max-width: var(--ce-tooltip-width);
  }
}

.tooltip-text {
  position: fixed;
  background: var(--ce-color-gray-900);
  border-radius:var(--ce-border-radius-small);
  padding: var(--ce-spacing-small);
  font-family: var(--ce-input-font-family);
  font-size: var(--ce-input-font-size-small);
  white-space: nowrap;
  line-height: 1.2;
  color: var(--ce-color-white);
  z-index: 99999;

  &:after {
    content: '';
    position: absolute;
    transform: translateX(-50%);
    top: calc(100% - 1px);
    left: 50%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-top-color: var(--ce-color-gray-900);
  }
}

.tooltip--primary .tooltip-text {
  background: var(--ce-color-primary-500);
  &:after {
    border-top-color: var(--ce-color-primary-500);
  }
}
.tooltip--success .tooltip-text {
  background: var(--ce-color-success-500);
  &:after {
    border-top-color: var(--ce-color-success-500);
  }
}
.tooltip--info .tooltip-text {
  background: var(--ce-color-info-500);
  &:after {
    border-top-color: var(--ce-color-info-500);
  }
}
.tooltip--warning .tooltip-text {
  background: var(--ce-color-warning-500);
  &:after {
    border-top-color: var(--ce-color-warning-500);
  }
}
.tooltip--danger .tooltip-text {
  background: var(--ce-color-danger-500);
  &:after {
    border-top-color: var(--ce-color-danger-500);
  }
}
