.wp-block-surecart-currency-switcher {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	font-family: var(--sc-font-sans);

	&__trigger {
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: 5px 10px;
		border-radius: 0.25rem;
		border: 1px solid #e0e0e0;
	}

	&__caret {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
	}
}
