:host {
  display: block;
}

.product__description {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.price__remove {
  cursor: pointer;
  line-height: 0;
  color: var(--ce-color-gray-500);
}
