.wp-block-surecart-product-review-verified-badge {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--sc-review-secondary-text-color, var(--sc-color-gray-600));
	gap: var(--sc-product-review-verified-badge-gap, 4px);
}
