.recurring-price-choice__description-details-wrap {
    display: flex;
    justify-content: space-between;
   .recurring-price-choice__details {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}