.recurring-price-choice__description-details-wrap {
    display: flex;
    justify-content: space-between;
    --sc-spacing-xx-small: 0;
   .recurring-price-choice__details {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .recurring-price-choice__menu-item {
        --sc-spacing-xx-small: 0;
        --sc-spacing-x-large: 1em;
    }
}