:host {
  display: block;
  position: relative;
}

a {
  color: var(--sc-color-primary-500);
}

sc-customer-email-preview {
  width: 100%;
}

a.customer-email {
  &__login-link {
    color: var(--sc-customer-login-link-color, var(--sc-input-placeholder-color));
    text-decoration: none;
    font-size: var(--sc-font-size-small);
  }
}

.tracking-confirmation-message {
  font-size: var(--sc-font-size-xx-small);

  span {
    opacity: 0.75;
  }
}

.account-loader {
  line-height: 0;
}
