:host {
  display: flex;
  gap: var(--star-gap, 2px);

  /* primary color for filled portion of stars */
  --sc-review-stars-primary: var(--sc-color-gray-500);

  /* secondary color for empty portion of stars */
  --sc-review-stars-secondary: var(--sc-color-gray-200);
}

.star-container {
  position: relative;
  display: inline-block;
  width: var(--star-size, 16px);
  height: var(--star-size, 16px);
}

.star-svg {
  position: absolute;
  top: 0;
  left: 0;
}
