:host {
  display: table-row;
}
:host([href]) {
  cursor: pointer;
}
:host([href]:hover) {
  background: var(--sc-color-gray-50);
}
:host(:not(:last-child)) {
  border-bottom: 1px solid var(--sc-table-row-border-bottom-color, var(--sc-color-gray-200));
}

