.wp-block-surecart-product-review-average-rating-value {
	&.is-style-parentheses {
		&::before {
			content: "(";
		}

		&::after {
			content: ")";
		}
	}

	&.is-style-slash {
		&::after {
			content: "/ 5.0";
		}
	}
}
