.block-editor-block-list__block {
	&,
	.block-editor-block-list__block {
		color: inherit;
	}
}

.wp-block-surecart-product-price-choice-template {
	container-type: inline-size;
	container-name: product-price-choice-template;
	.wp-block-group.is-vertical.is-content-justification-right {
		text-align: right;
	}
}

@container product-price-choice-template (max-width: 320px) {
	.wp-block-surecart-product-price-choice-template {
		.wp-block-group.is-vertical.is-content-justification-right {
			align-items: flex-start;
			width: 100%;
			text-align: left;
		}
	}
}
