.product-item-list {
  &__wrapper {
    container-type: inline-size;

    @container (max-width: 576px) {
      .product-item-list {
        grid-template-columns: 1fr;
      }
    }
    @container (min-width: 576px) and (max-width: 768px) {
      .product-item-list {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  display: grid;
  grid-template-columns: repeat(var(--sc-product-item-list-column), 1fr);
  gap: var(--sc-product-item-list-gap);

  &__loader {
    display: grid;
    gap: 0.88rem;
    padding-top: var(--sc-product-item-padding-top);
    padding-bottom: var(--sc-product-item-padding-bottom);
    padding-left: var(--sc-product-item-padding-left);
    padding-right: var(--sc-product-item-padding-right);
    margin-top: var(--sc-product-item-margin-top);
    margin-bottom: var(--sc-product-item-margin-bottom);
    margin-left: var(--sc-product-item-margin-left);
    margin-right: var(--sc-product-item-margin-right);
    border: solid var(--sc-product-item-border-width) var(--sc-product-item-border-color);
    border-radius: var(--sc-product-item-border-radius);
  }

  &__pagination {
    padding: 40px 0 0;
    display: flex;
    font-size: var(--wp--preset--font-size--x-small);
    &.--is-aligned-left {
      justify-content: start;
    }
    &.--is-aligned-center {
      justify-content: center;
    }
    &.--is-aligned-right {
      justify-content: end;
    }
  }
}
