:host {
  border-style: none !important;
}

.product-item-list {
  display: grid;
  grid-template-columns: repeat(var(--sc-product-item-list-column), 1fr);
  gap: var(--sc-product-item-list-gap);
  &__loader {
    display: grid;
    gap: 0.88rem;
    padding-top: var(--sc-product-item-padding-top);
    padding-bottom: var(--sc-product-item-padding-bottom);
    padding-left: var(--sc-product-item-padding-left);
    padding-right: var(--sc-product-item-padding-right);
    margin-top: var(--sc-product-item-margin-top);
    margin-bottom: var(--sc-product-item-margin-bottom);
    margin-left: var(--sc-product-item-margin-left);
    margin-right: var(--sc-product-item-margin-right);
    border: solid var(--sc-product-item-border-width) #cecece;
    border-radius: var(--sc-product-item-border-radius);
  }
}
