@use '../../../styles/mixins/hide';

:host {
  display: block;
}

::slotted(*) {
  margin: 0;
  display: grid;
  gap: 10px;
}
.breakpoint-md,
.breakpoint-lg,
.breakpoint-xl {
  ::slotted(*) {
    grid-template-columns: repeat(var(--columns, 1), 1fr);
  }
}

.choices {
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;

  .choices__label {
    font-family: var(--ce-input-font-family);
    font-size: var(--ce-input-font-size-medium);
    font-weight: var(--ce-input-font-weight);
    color: var(--ce-input-color);
    padding: 0 var(--ce-spacing-xx-small);
  }
}

// .choices__items {
//   display: grid;
//   gap: 10px;
// }

// .breakpoint-md,
// .breakpoint-lg,
// .breakpoint-xl {
//   .choices__items {
//     grid-template-columns: repeat(var(--columns, 1), 1fr);
//   }
// }

.choices--hide-label {
  .choices__label {
    @include hide.visually-hidden;
  }
}
