:host {
  display: inline-block;
  --panel-height: 75vh;
  --panel-width:  10rem;
}

.dropdown {
  position: relative;

  &.dropdown--open {
    .dropdown__panel {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }

  &__trigger {
    display: block;
  }
}

.dropdown__panel {
  z-index: var(--ce-z-index-dropdown);
  transform-origin: top left;
  min-width: var(--panel-width);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: absolute;
  left: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-height: var(--panel-height);
  font-family: var(--ce-font-sans);
  font-size: var(--ce-font-size-medium);
  font-weight: var(--ce-font-weight-normal);
  color: var(--color);
  background-color: var(--ce-panel-background-color);
  border: solid 1px var(--ce-panel-border-color);
  border-radius: var(--ce-border-radius-medium);
  box-shadow: var(--ce-shadow-large);
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  overscroll-behavior: none;
  // pointer-events: none;
  transform: scale(0.9);
  transition: var(--ce-transition-fast) opacity, var(--ce-transition-fast) transform;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Positions
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.dropdown__panel {
  &.position--top-left {
    transform-origin: bottom left;
    bottom: 100%;
  }

  &.position--top-right {
    transform-origin: bottom right;
    bottom: 100%;
    left: auto;
    right: 0;
  }

  &.position--bottom-right {
    transform-origin: top right;
    left: auto;
    right: 0;
  }
}
