.wp-block-surecart-product-average-rating-value {
	&.is-style-parentheses {
		&::before {
			content: "(";
		}

		&::after {
			content: ")";
		}
	}

	&.is-style-slash {
		&::after {
			content: "/ 5";
			margin-left: 0.25rem;
		}
	}
}
