.wp-block-surecart-product-average-rating-value {
	&.is-style-parentheses {
		&::before {
			content: "(";
		}

		&::after {
			content: ")";
		}
	}

	&.is-style-brackets {
		&::before {
			content: "[";
		}

		&::after {
			content: "]";
		}
	}
}