:host {
  display: inline-block;
  --sc-collection-badge-padding: var(--sc-spacing-xx-small);
  --sc-collection-badge-border-radius: var(--sc-border-radius-small);
  --sc-collection-badge-border-color: var(--sc-color-info-200);
  --sc-collection-badge-border-width: 1px;
  --sc-collection-badge-background-color: var(--sc-color-info-100);
  --sc-collection-badge-color: var(--sc-color-info-700);
  --sc-collection-badge-font-weight: var(--sc-font-weight-bold);
  --sc-collection-badge-font-size: var(--sc-font-size-xx-small);
  --sc-collection-badge-font-style: normal;
  --sc-collection-badge-text-transform: initial;
}

:host {
  display: flex;
  align-items: center;
  border: none;
  line-height: 1;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  font-weight: var(--sc-collection-badge-font-weight, var(--sc-font-weight-bold));
  font-size: var(--sc-collection-badge-font-size, var(--sc-font-size-small));
  font-style: var(--sc-collection-badge-font-style, normal);
  text-transform: var(--sc-collection-badge-text-transform, initial);
  padding: var(--sc-collection-badge-padding, var(--sc-spacing-xx-small));
  border-radius: var(--sc-collection-badge-border-radius, var(--sc-border-radius-small));
  border: var(--sc-collection-badge-border-width, 1px) solid var(--sc-collection-badge-border-color, var(--sc-color-info-200));
  background-color: var(--sc-collection-badge-background-color, var(--sc-color-info-100));
  color: var(--sc-collection-badge-color, var(--sc-color-info-700));
}
