:host {
  display: block;
}

sc-line-item {
  text-align: left;
  line-height: var(--sc-line-height-dense);
  color: var(--sc-input-label-color);
  margin-bottom: var(--sc-spacing-small);
}

sc-icon {
  color: var(--sc-color-gray-400);
}

.sc-invoice-download-link {
  color: var(--sc-color-gray-400);

  svg {
    color: var(--sc-color-gray-400);
  }
}
