.wp-block-surecart-product-quick-view {
    width: 70vw;
    max-width: 1000px;
    margin: 1em auto;
    border: var(--sc-drawer-border);
    box-shadow: 0 1px 2px #0d131e1a;
    overflow: auto;
    padding: 1em;
    height: 500px;
    max-height: 600px;
}