:host {
  display: block;
}

.item__product + .item__product {
  margin-top: 20px;
}

.empty {
  color: var(--ce-color-gray-500);
}

.summary {
  position: relative;
}

.summary__content.hidden {
  display: none;
}

::slotted(*) {
  margin: 4px 0 !important;
}
::slotted(ce-divider) {
  margin: 16px 0 !important;
}
ce-line-item ~ ce-line-item {
  margin-top: 14px;
}
