:host {
  display: block;
}

.item__product + .item__product {
  margin-top: 20px;
}

.summary {
  position: relative;
}

::slotted(*) {
  margin-top: 20px;
}
ce-line-item ~ ce-line-item {
  margin-top: 20px;
}
