.wp-block-surecart-cart-items__wrapper {
	border-bottom: var(--sc-drawer-border);
	flex: 1 1 auto;
    overflow: auto;
    min-height: 200px;

	.sc-quantity-selector {
		margin-top: --var(sc-spacing-small);
	}
}
