:host {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.customer-login {
  box-sizing: border-box;
  font-family: var(--sc-input-font-family);
  font-weight: var(--sc-input-font-weight);
  letter-spacing: var(--sc-input-letter-spacing);
  background-color: var(--sc-input-background-color);
  border: solid 1px var(--sc-input-border-color, var(--sc-input-border));
  vertical-align: middle;
  box-shadow: var(--sc-input-box-shadow);
  transition: var(--sc-input-transition, var(--sc-transition-medium)) color, var(--sc-input-transition, var(--sc-transition-medium)) border,
    var(--sc-input-transition, var(--sc-transition-medium)) box-shadow;
  border-radius: var(--sc-input-border-radius-medium);
  font-size: var(--sc-font-size-small);

  a {
    color: var(--sc-color-primary-500);
  }

  // Open it with animation.
  animation: open 0.5s ease-in-out;

  &__email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--sc-input-spacing-medium);
    border-bottom: solid 1px var(--sc-input-border-color, var(--sc-input-border));
  }

  &__email-text {
    display: flex;
    align-items: center;
    gap: var(--sc-spacing-medium);
  }

  &__email-label {
    color: var(--sc-input-help-text-color);
  }

  &__email-value {
    color: var(--sc-input-label-color);
    font-weight: var(--sc-input-label-font-weight);
  }

  &__back-icon {
    font-size: 1.5em;
  }

  &__mode {
    text-align: center;
  }
}

.customer-code {
  padding: var(--sc-input-spacing-medium);

  &__hint {
    margin: 0;
    color: var(--sc-input-help-text-color);
  }

  &__resend {
    text-align: center;
  }

  &__preview {
    font-weight: var(--sc-font-weight-semibold);
  }

  &__error {
    color: var(--sc-color-danger-500, red);
    font-size: 0.8rem;
    text-align: center;
  }
}

.customer-password {
  padding: var(--sc-input-spacing-medium);

  &__error {
    color: var(--sc-color-danger-500, red);
    font-size: 0.8rem;
    text-align: center;
  }
}
