:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: calc(-1 * var(--ce-form-row-spacing, 0.75em)) 0 0 calc(-1 * var(--ce-form-row-spacing, 0.75em));
}

::slotted(*) {
  flex: 1;
  margin: var(--ce-form-row-spacing, 0.75em);
  width: 0;
}
