.wp-block-surecart-cart-order-bump-description {
	font-size: 12px;
	opacity: 0.8;
	line-height: 1.4;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}
