:host {
  display: block;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__title {
  color: var(--presto-color-gray-600);
}

.item__price-layout {
  font-size: var(--presto-font-size-large);
  font-weight: var(--presto-font-weight-semibold);
  line-height: var(--presto-line-height-dense);
  display: flex;
  align-items: center;
}

.item_currency {
  font-weight: var(--presto-font-weight-normal);
  font-size: var(--presto-font-size-small);
  color: var(--presto-color-gray-500);
  margin-right: var(--presto-spacing-small);
}
