:root {
	--sc-video-play-button-size: 60px;
	--sc-video-play-button-size-thumb: 20px;
	--sc-video-play-button-color: var(--sc-color-gray-900);
	--sc-video-play-button-bg: var(--sc-color-white);
}

.surecart-theme-dark {
	--sc-video-play-button-color: var(--sc-color-white);
	--sc-video-play-button-bg: var(--sc-color-gray-900);
}

.wp-block-surecart-product-media {
	text-align: center;

	img,
	video {
		max-width: 100%;
		height: auto;
	}
}
