body {
	background-color: #fbfbfb !important;
}
#layout_checkout {
	min-height: 100vh;
	max-width: 1160px;
	margin: 0 auto;
	display: flex;
	padding-top: 8vh;
	position: relative;
}
#layout_checkout > div {
	width: 100%;
	z-index: 99;
}
@media screen and (min-width: 782px) {
  #layout_checkout::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: white;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.12);
  }
}
