body {
	background-color: white !important;
}
#layout_checkout {
  padding: 0;
	margin: 0 auto;
	display: flex;
	position: relative;
}
#layout_checkout > div {
	width: 100%;
	z-index: 99;
}

@media (max-width: 782px) {
  .wp-block-column:not(.is-not-stacked-on-mobile) > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .wp-block-column:first-child {
    order: 2;
  }
}
