body {
	background-color: white !important;
}
#layout_checkout {
  padding: 0;
	margin: 0 auto;
	display: flex;
	position: relative;
  color: var(--sc-color-gray-800);
}
#layout_checkout > div {
	width: 100%;
	z-index: 99;
}
.wp-block-columns {
  min-height: 100vh;
}
.wp-block-column > :not(:last-child):not(.is-empty) {
  margin-bottom: var(--sc-form-row-spacing, 0.75em);
  display: block;
}

.wp-block-column.is-content-justification-right > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  margin-left: auto !important;
  margin-right: 0 !important;
}
.wp-block-column.is-content-justification-left > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  margin-left: 0 !important;
  margin-right: 1 !important;
}

@media (max-width: 782px) {
  .wp-block-column:not(.is-not-stacked-on-mobile) > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .wp-block-column:first-child {
    order: 2;
  }
}
