.wp-block-surecart-product-review-form-rating {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	// Base star styling.
	%base-star {
		display: inline-block;
		cursor: pointer;

		.sc-star-svg {
			transition: all 0.15s ease;
		}
	}

	%full-star {
		.sc-star-svg {
			fill: var(--sc-color-primary-500);
			stroke: var(--sc-color-primary-500);
		}
	}

	%empty-star {
		.sc-star-svg {
			fill: none;
		}
	}

	// Rating input fieldset
	.sc-rating-input {
		border: none;
		display: inline-flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		margin: 0;
		padding: 0;
		gap: 4px;

		> input {
			display: none;
		}

		> label {
			@extend %base-star;
			@extend %empty-star;

			&:hover {
				transform: scale(1.05);
			}
		}

		// Selected star color - fill all stars up to and including the selected one
		> input:checked ~ label {
			@extend %full-star;
		}

		// On hover, reset all stars to empty by default
		&:hover > input + label {
			@extend %empty-star;
		}

		// Hover effect - fill the hovered star and all stars after it (to the right)
		&:hover > input + label:hover,
		&:hover > input + label:hover ~ input + label {
			@extend %full-star;
		}
	}
}
