:host {
  display: block;
}

.radio-group {
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;

  .radio-group__label {
    display: inline-block;
    padding: 0;
    color: var(--ce-input-label-color);
    font-weight: var(--ce-input-label-font-weight);
    text-transform: var(--ce-input-label-text-transform, none);
    letter-spacing: var(--ce-input-label-letter-spacing, 0);
    margin-bottom: var(--ce-input-label-margin);
  }
}

::slotted(ce-radio:not(:last-of-type)) {
  display: block;
  margin-bottom: var(--ce-spacing-x-small) !important;
}

// .radio-group:not(.radio-group--has-fieldset) {
//   border: none;
//   padding: 0;
//   margin: 0;
//   min-width: 0;
// }
// .radio-group:not(.radio-group--has-fieldset) .radio-group__label {
//   position: absolute;
//   width: 0;
//   height: 0;
//   clip: rect(0 0 0 0);
//   clip-path: inset(50%);
//   overflow: hidden;
//   white-space: nowrap;
// }
