@use '../../../styles/mixins/hide';

:host {
  display: block;
}

.radio-group {
  border: solid var(--presto-input-border-width) var(--presto-input-border-color);
  border-radius: var(--presto-border-radius-medium);
  padding: var(--presto-spacing-large);
  padding-top: var(--presto-spacing-x-small);

  .radio-group__label {
    font-family: var(--presto-input-font-family);
    font-size: var(--presto-input-font-size-medium);
    font-weight: var(--presto-input-font-weight);
    color: var(--presto-input-color);
    padding: 0 var(--presto-spacing-xx-small);
  }
}

::slotted(presto-radio:not(:last-of-type)) {
  display: block;
  margin-bottom: var(--presto-spacing-xx-small);
}

.radio-group--no-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;

  .radio-group__label {
    @include hide.visually-hidden;
  }
}
