:host {
  display: block;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--ce-spacing-large);
  text-align: center;
  gap: var(--ce-spacing-x-small);
  color: var(--ce-color-gray-500);

  ce-icon {
    font-size: var(--ce-font-size-xx-large);
    color: var(--ce-color-gray-700);
  }
}
