:host {
  display: block;
  max-width: 800px;
  margin: auto;
}

.order-confirmation__content {
  display: grid;
  gap: var(--sc-form-row-spacing-large);
  color: var(--sc-order-confirmation-color, var(--sc-color-gray-500));
}

.order-confirmation__content.hidden {
  display: none;
}

::part(line-items) {
  display: grid;
  gap: 0.5em;
}
