:host {
  display: block;
  position: relative;
}

.dashboard-module {
  display: grid;
  gap: var(--sc-dashboard-module-spacing, 1em);
}

.heading {
  font-family: var(--sc-font-sans);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__text {
    display: grid;
    gap: calc( var(--sc-dashboard-module-spacing, 1em) / 2);
  }
}

.heading__title {
  font-size: var(--sc-dashbaord-module-heading-size, var(--sc-font-size-x-large));
  font-weight: var(--sc-dashbaord-module-heading-weight, var(--sc-font-weight-bold));
  line-height: var(--sc-dashbaord-module-heading-line-height,  var(--sc-line-height-dense));
}

.heading__description {
  font-size: var(--sc-font-size-normal);
  line-height: var(--sc-line-height-dense);
  color: var(--sc-color-gray-500);
}
