<!-- wp:surecart/product-review-form {"alignment":"center center","width":"700px","style":{"typography":{"fontSize":"16px"},"spacing":{"padding":{"right":"0","left":"0"}}}} -->
<!-- wp:group {"style":{"typography":{"fontSize":"1em"},"spacing":{"padding":{"top":"2rem","bottom":"2rem","left":"2rem","right":"2rem"}}},"layout":{"type":"constrained","contentSize":"500px"}} -->
<div class="wp-block-group"
    style="padding-top:2rem;padding-right:2rem;padding-bottom:2rem;padding-left:2rem;font-size:1em">
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","verticalAlignment":"top"}} -->
    <div class="wp-block-group">
        <!-- wp:heading {"style":{"typography":{"fontSize":"1.5em","fontWeight":"600","fontStyle":"normal"}}} -->
        <h2 class="wp-block-heading" style="font-size:1.5em;font-style:normal;font-weight:600">Write a review</h2>
        <!-- /wp:heading -->

        <!-- wp:surecart/product-review-form-close /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"style":{"spacing":{"margin":{"top":"2rem","bottom":"0"},"blockGap":"1.5rem"}},"layout":{"type":"constrained","contentSize":""}} -->
    <div class="wp-block-group" style="margin-top:2rem;margin-bottom:0"><!-- wp:surecart/product-review-form-rating /-->

        <!-- wp:surecart/product-review-form-title {"placeholder":"","textAlign":"left"} /-->

        <!-- wp:surecart/product-review-form-content {"placeholder":"","required":true,"textAlign":"left"} /-->

        <!-- wp:group {"style":{"spacing":{"margin":{"top":"2rem"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
        <div class="wp-block-group" style="margin-top:2rem">
            <!-- wp:buttons {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"layout":{"type":"flex","justifyContent":"left"}} -->
            <div class="wp-block-buttons"><!-- wp:button {"width":100,"line_items":[]} -->
                <div class="wp-block-button has-custom-width wp-block-button__width-100"><a
                        class="wp-block-button__link wp-element-button">Submit Review</a></div>
                <!-- /wp:button -->
            </div>
            <!-- /wp:buttons -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- /wp:surecart/product-review-form -->