<!-- wp:surecart/columns {"style":{"spacing":{"margin":{"top":"60px","bottom":"60px"}}}} -->
<sc-columns is-stacked-on-mobile="1" class="wp-block-surecart-columns"
	style="margin-top:60px;margin-bottom:60px"><!-- wp:surecart/column {"layout":{"type":"constrained","justifyContent":"center"}} -->
	<sc-column
		class="wp-block-surecart-column is-layout-constrained is-horizontally-aligned-center"><!-- wp:surecart/product-media {"height":"300px"} /--></sc-column>
	<!-- /wp:surecart/column -->

	<!-- wp:surecart/column {"width":"420px"} -->
	<sc-column class="wp-block-surecart-column"
		style="flex-basis:420px"><!-- wp:surecart/product-title {"level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"700","letterSpacing":"0px","fontSize":"34px"},"spacing":{"margin":{"top":"0px","bottom":"16px"}}}} /-->

		<!-- wp:surecart/product-price {"style":{"typography":{"fontSize":"28px","fontStyle":"normal","fontWeight":"400"},"spacing":{"margin":{"top":"0px","bottom":"16px"}}}} /-->

		<!-- wp:surecart/product-description {"style":{"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"400","lineHeight":"1.5"},"spacing":{"margin":{"top":"0px","bottom":"16px"}}}} /-->

		<!-- wp:surecart/product-price-choices {"style":{"spacing":{"margin":{"top":"0px","bottom":"16px"}}},"fontFamily":"inter"} /-->

		<!-- wp:surecart/product-quantity {"label":"Quantity","style":{"spacing":{"margin":{"top":"0px","bottom":"24px"}},"typography":{"fontSize":"16px"}}} /-->

		<!-- wp:surecart/product-buy-button {"add_to_cart":true,"text":"Add To Cart","width":100,"style":{"spacing":{"padding":{"top":"18px","right":"18px","bottom":"18px","left":"18px"}}}} /--></sc-column>
	<!-- /wp:surecart/column --></sc-columns>
<!-- /wp:surecart/columns -->