<!-- wp:group {"style":{"typography":{"fontSize":"1em"},"spacing":{"padding":{"top":"1rem","bottom":"1rem","left":"1rem","right":"1rem"}}},"layout":{"type":"constrained","contentSize":"500px"}} -->
<div class="wp-block-group"
	style="padding-top:1rem;padding-right:1rem;padding-bottom:1rem;padding-left:1rem;font-size:1em">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:group {"style":{"spacing":{"margin":{"top":"24px","bottom":"-10px"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"right"}} -->
		<div class="wp-block-group" style="margin-top:24px;margin-bottom:-10px">
			<!-- wp:surecart/product-review-form-close /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"style":{"spacing":{"margin":{"top":"-20px"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
		<div class="wp-block-group" style="margin-top:-20px">
			<!-- wp:surecart/icon {"icon_name":"check-circle-2","size":32,"style":{"elements":{"link":{"color":{"text":"#00824c"}}},"color":{"text":"#00824c"}}} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"1.5em","fontWeight":"600","fontStyle":"normal"}}} -->
		<h2 class="wp-block-heading has-text-align-center" style="font-size:1.5em;font-style:normal;font-weight:600">
			Thanks for your review!
		</h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph {"align":"center"} -->
		<p class="has-text-align-center">We are processing it and it will appear on the store soon.</p>
		<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->