<!-- wp:group {"style":{"typography":{"fontSize":"1em"},"spacing":{"padding":{"top":"2rem","bottom":"2rem","left":"2rem","right":"2rem"}}},"layout":{"type":"constrained","contentSize":"500px"}} -->
<div class="wp-block-group"
	style="padding-top:2rem;padding-right:2rem;padding-bottom:2rem;padding-left:2rem;font-size:1em">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"-10px"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"right"}} -->
		<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--40);margin-bottom:-10px">
			<!-- wp:surecart/product-review-form-close /--></div>
		<!-- /wp:group -->

		<!-- wp:group {"style":{"spacing":{"margin":{"top":"-20px"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
		<div class="wp-block-group" style="margin-top:-20px"><!-- wp:html -->
			<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16Z"
					fill="#00824C" />
				<path d="M21.3332 12L13.9998 19.3333L10.6665 16" stroke="white" stroke-width="2" stroke-linecap="round"
					stroke-linejoin="round" />
			</svg>
			<!-- /wp:html -->
		</div>
		<!-- /wp:group -->

		<!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"1.5em","fontWeight":"600","fontStyle":"normal"}}} -->
		<h2 class="wp-block-heading has-text-align-center" style="font-size:1.5em;font-style:normal;font-weight:600">
			Thanks
			for your review!</h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph {"align":"center"} -->
		<p class="has-text-align-center">We are processing it and it will appear on the store soon.</p>
		<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->
