<!-- wp:surecart/product-info {"media_width":"60%","column_gap":"3em","align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","right":"0","bottom":"var:preset|spacing|70","left":"0"}}}} -->
<!-- wp:surecart/product-title {"style":{"typography":{"fontSize":"30px"}}} /-->

<!-- wp:surecart/product-price {"style":{"typography":{"fontSize":"24px"}}} /-->

<!-- wp:surecart/product-description /-->

<!-- wp:surecart/product-price-choices /-->

<!-- wp:surecart/product-quantity {"label":"Quantity","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} /-->

<!-- wp:surecart/product-buy-buttons /-->

<!-- wp:surecart/collapsible-row {"heading":"Details","icon":"smile"} -->
<!-- wp:paragraph -->
<p>These are some details.</p>
<!-- /wp:paragraph -->
<!-- /wp:surecart/collapsible-row -->

<!-- wp:surecart/collapsible-row {"heading":"Shipping","icon":"package"} -->
<!-- wp:paragraph -->
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
	magna aliqua.&nbsp;</p>
<!-- /wp:paragraph -->
<!-- /wp:surecart/collapsible-row -->

<!-- wp:surecart/collapsible-row {"heading":"Return Policy","icon":"repeat"} -->
<!-- wp:paragraph -->
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
	magna aliqua.&nbsp;</p>
<!-- /wp:paragraph -->
<!-- /wp:surecart/collapsible-row -->
<!-- /wp:surecart/product-info -->