<!-- wp:surecart/product-review-form {"alignment":"center center","width":"500px","style":{"typography":{"fontSize":"16px"}}} -->
<!-- wp:group {"style":{"typography":{"fontSize":"1em"},"spacing":{"padding":{"top":"2rem","bottom":"2rem","left":"2rem","right":"2rem"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="font-size:1em;padding-top:2rem;padding-right:2rem;padding-bottom:2rem;padding-left:2rem">
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","verticalAlignment":"top"}} -->
    <div class="wp-block-group">
        <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group">
            <!-- wp:heading {"level":2,"style":{"typography":{"fontSize":"1.5em","fontWeight":"600"}}} -->
            <h2 class="wp-block-heading" style="font-size:1.5em;font-weight:600">Write a review</h2>
            <!-- /wp:heading -->
        </div>
        <!-- /wp:group -->

        <!-- wp:surecart/product-review-form-close /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"style":{"spacing":{"margin":{"top":"2rem","bottom":"0"},"blockGap":"1.5rem"}}} -->
    <div class="wp-block-group" style="margin-top:2rem;margin-bottom:0">

        <!-- wp:surecart/product-review-form-rating /-->
        <!-- wp:surecart/product-review-form-title /-->
        <!-- wp:surecart/product-review-form-content /-->

        <!-- wp:group {"style":{"spacing":{"margin":{"top":"2rem"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
        <div class="wp-block-group" style="margin-top:2rem">
            <!-- wp:buttons -->
            <div class="wp-block-buttons" style="width: 100%;">
                <!-- wp:button -->
                <div class="wp-block-button" style="width: 100%;"><a class="wp-block-button__link has-text-color has-background wp-element-button" style="width: 100%;">Submit Review</a></div>
                <!-- /wp:button -->
            </div>
            <!-- /wp:buttons -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- /wp:surecart/product-review-form -->