<!-- wp:group {"className":"sc-sticky-purchase-button","style":{"position":{"type":"sticky","bottom":"0px"},"spacing":{"padding":{"top":"15px","right":"20px","bottom":"15px","left":"20px"}},"border":{"top":{"color":"var:preset|color|gray-200","width":"0px","style":"none"},"right":{"width":"0px","style":"none"},"bottom":{"width":"0px","style":"none"},"left":{"width":"0px","style":"none"}},"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}},"backgroundColor":"background","textColor":"foreground","layout":{"type":"constrained"}} -->
<div class="wp-block-group sc-sticky-purchase-button has-foreground-color has-background-background-color has-text-color has-background has-link-color" style="border-top-color:var(--wp--preset--color--gray-200);border-top-style:none;border-top-width:0px;border-right-style:none;border-right-width:0px;border-bottom-style:none;border-bottom-width:0px;border-left-style:none;border-left-width:0px;padding-top:15px;padding-right:20px;padding-bottom:15px;padding-left:20px"><!-- wp:columns {"verticalAlignment":"center","align":"wide","className":"is-stacked-on-mobile","style":{"spacing":{"blockGap":{"top":"20px","left":"20px"}}}} -->
<div class="wp-block-columns alignwide are-vertically-aligned-center is-stacked-on-mobile"><!-- wp:column {"verticalAlignment":"center","width":"60%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:60%"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:post-featured-image {"aspectRatio":"1","width":"50px","height":"50px","scale":"contain","overlayColor":"accent-5","style":{"border":{"radius":"10px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"4px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:surecart/product-title {"level":4,"style":{"typography":{"fontSize":"16px"}}} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0.5em"}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"left","verticalAlignment":"bottom"}} -->
<div class="wp-block-group"><!-- wp:surecart/product-selected-price-scratch-amount {"style":{"typography":{"textDecoration":"line-through","fontSize":"16px","lineHeight":"1.5"},"color":{"text":"#686868"},"elements":{"link":{"color":{"text":"#686868"}}}}} /-->

<!-- wp:surecart/product-selected-price-amount {"style":{"typography":{"fontSize":"16px","lineHeight":"1.5"}}} /-->

<!-- wp:surecart/product-selected-price-interval {"style":{"typography":{"lineHeight":"1.5","fontSize":"16px"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"40%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:40%"><!-- wp:surecart/product-buy-buttons {"style":{"spacing":{"blockGap":"5px"}}} -->
<div class="wp-block-surecart-product-buy-buttons wp-block-buttons sc-block-buttons is-layout-flex"><!-- wp:surecart/product-buy-button {"add_to_cart":true,"text":"Add To Cart"} /--></div>
<!-- /wp:surecart/product-buy-buttons --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->