<!-- wp:surecart/sticky-purchase {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}}} -->
<!-- wp:columns {"className":"is-not-stacked-on-mobile is-stacked-on-mobile","style":{"layout":{"selfStretch":"fill","flexSize":null}}} -->
<div class="wp-block-columns is-not-stacked-on-mobile is-stacked-on-mobile">
	<!-- wp:column {"verticalAlignment":"center","width":"75%"} -->
	<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:75%">
		<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
		<div class="wp-block-group">
			<!-- wp:surecart/product-selected-variant-image {"style":{"layout":{"selfStretch":"fit","flexSize":null}}} /-->

			<!-- wp:group {"style":{"spacing":{"blockGap":"4px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
			<div class="wp-block-group">
				<!-- wp:surecart/product-title {"level":4,"style":{"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"700"},"layout":{"selfStretch":"fill","flexSize":null}}} /-->

				<!-- wp:surecart/product-selected-variant {"style":{"typography":{"fontSize":"16px"}}} /-->

				<!-- wp:group {"style":{"spacing":{"blockGap":"0.5em"}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"left","verticalAlignment":"bottom"}} -->
				<div class="wp-block-group">
					<!-- wp:surecart/product-selected-price-scratch-amount {"style":{"typography":{"textDecoration":"line-through","fontSize":"16px","lineHeight":"1.5"}}} /-->

					<!-- wp:surecart/product-selected-price-amount {"style":{"typography":{"fontSize":"16px","lineHeight":"1.5"}}} /-->

					<!-- wp:surecart/product-selected-price-interval {"style":{"typography":{"lineHeight":"1.5","fontSize":"16px"}}} /-->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:column -->

	<!-- wp:column {"verticalAlignment":"center","width":"25%"} -->
	<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:25%">
		<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
		<div class="wp-block-group"><!-- wp:surecart/product-buy-buttons {"style":{"spacing":{"blockGap":"5px"}}} -->
			<div class="wp-block-surecart-product-buy-buttons wp-block-buttons sc-block-buttons is-layout-flex">
				<!-- wp:surecart/product-buy-button {"add_to_cart":true,"text":"Add"} /--></div>
			<!-- /wp:surecart/product-buy-buttons -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:column -->
</div>
<!-- /wp:columns -->
<!-- /wp:surecart/sticky-purchase -->