<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
    <!-- wp:surecart/order-bump-countdown-timer {"textAlign":"center","offer_expire_text":"Offer Expires In"} /-->

    <!-- wp:surecart/order-bump-cta {"textAlign":"center"} /-->

    <!-- wp:surecart/order-bump-description {"textAlign":"center"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:surecart/columns -->
    <div class="wp-block-surecart-columns">
        <!-- wp:surecart/column {"layout":{"type":"constrained","justifyContent":"center","contentSize":"100%"}} -->
        <div class="wp-block-surecart-column is-layout-constrained is-horizontally-aligned-center"
            style="--sc-column-content-width:100%">
            <!-- wp:surecart/product-media /-->
        </div>
        <!-- /wp:surecart/column -->

        <!-- wp:surecart/column {"width":"36%","style":{"spacing":{"blockGap":"24px","padding":{"top":"0"}}}} -->
        <div class="wp-block-surecart-column" style="padding-top:0;flex-basis:36%;--sc-form-row-spacing:24px">
            <!-- wp:surecart/product-title {"style":{"spacing":{"margin":{"top":"0"}}}} /-->

            <!-- wp:surecart/product-price {"fontSize":"medium","style":{"typography":{"textTransform":"capitalize"}}} /-->

            <!-- wp:surecart/product-description /-->

            <!-- wp:surecart/product-variant-choices {"style":{"typography":{"fontSize":"16px"}}} /-->

            <!-- wp:surecart/product-quantity {"label":"Quantity","style":{"typography":{"fontSize":"16px"}}} /-->

            <!-- wp:surecart/order-bump-submit /-->

            <!-- wp:surecart/order-bump-no-thanks /-->
        </div>
        <!-- /wp:surecart/column -->
    </div>
    <!-- /wp:surecart/columns -->
</div>
<!-- /wp:group -->