.login-form {
  margin: var(--sc-spacing-xx-large) auto;
  max-width: 400px;
  position: relative;

  &__title {
    text-align: center;
    margin-bottom: var(--sc-spacing-medium);
    font-size: var(--sc-font-size-xx-large);
    font-weight: var(--sc-font-weight-bold);
  }
}
